<%+header%>


<div id="container">

<div id="menu" >
  <div class="item">
    <a href="<%=pcdata(luci.dispatcher.build_url("user/home/wifi"))%>">WIFI</a>
  </div>
  <div class="item">
    <a href="">支持游戏</a>
  </div>
  <div class="item">
    <a href="<%=pcdata(luci.dispatcher.build_url("user/home/status"))%>">盒子信息</a>
  </div>
  <div class="item">
    <a href="<%=pcdata(luci.dispatcher.build_url("user/home/password"))%>">登录设置</a>
  </div>
  <div class="item">
    <a href="<%=pcdata(luci.dispatcher.build_url("user/home/recovery"))%>">出厂设置</a>
  </div>
  <div class="item">
    <a href="<%=pcdata(luci.dispatcher.build_url("user/home/update"))%>">系统更新</a>
  </div>
  <div class="item">
    <a href="<%=pcdata(luci.dispatcher.build_url("user/home/reboot"))%>">重启</a>
  </div>

</div>




</div>

<%+footer%>