<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Page-Exit" content="revealTrans(duration=1s, transition=12)">
		<title>流星盒子</title>
		<link rel="stylesheet" type="text/css" href="<%=resource%>/css/common.css"/>
		<script type="text/javascript" src="<%=resource%>/xhr.js"></script>
		<script type="text/javascript">
			var baseurl = '<%=luci.dispatcher.build_url("user/home/")%>' ;
		</script>
	</head>
	<body>
		<div class="main">
			<!-- 游戏加速 -->
			<section class="speed">
				<div class="head">
					<img src="<%=resource%>/img/logo.png" >
					<span class="user">登录</span>
					<div class="set">
						<span><i></i>客服</span>
						<span class="toSet"><i></i>设置</span>
					</div>
				</div>
				<div class="effect">
					<!-- 未加速状态 -->
					<div class="no-speedState">一键加速</div>
					<!-- 正在加速 -->
					<div class="speedState">加速中
						<img class="right" src="<%=resource%>/img/speed.png" >
						<img class="left" src="<%=resource%>/img/speed.png" >
					</div>
					<!-- 加速成功 -->
					<div class="success-speedState">停止加速</div>
				</div>
				<div class="get-choice">
					<div class="nodes server">
						<span>区服选择</span>
						<a class="show-node"></a>
						<div class="slide"></div>
					</div>
					<div class="nodes areas">
						<span>加速节点</span>
						<a class="show-node"></a>
						<div class="slide"></div>
					</div>
				</div>
				<div class="link">
					<div class="show-box">
						<img src="<%=resource%>/img/first.png" >
						<p>游戏设备</p>
					</div>
					<div class="islink"></div>
					<div class="show-box">
						<img src="<%=resource%>/img/second.png" >
						<p>流星盒子</p>
					</div>
					<div class="islink"></div>
					<div class="show-box">
						<img src="<%=resource%>/img/third.png" >
						<p>联网设备</p>
					</div>
				</div>
				<div class="link-equ">
					<div class="header">
						<span>联网设备</span>
						<a></a>
					</div>
					<div class="equs"></div>
					<div class="limit"></div>
				</div>
			</section>
			<!-- 登录 -->
			<div class="login-wechat">
				<img src="" >
				<p>扫一扫即刻体验主机加速</p>
			</div>
			<!-- 设置 -->
			<section class="set-inf backIn">
				<div class="nav return-login">
					<i></i>
					<span>返回</span>
				</div>
				<div class="info">
					<div class="item">
						<span class="iconfont">&#xef87;</span>
						<p>WIFI共享</p>
					</div>
					<div class="item">
						<span class="iconfont">&#xe6a5;</span>
						<p>支持游戏</p>
					</div>
					<div class="item">
						<span class="iconfont">&#xe615;</span>
						<p>加速盒信息</p>
					</div>
					<div class="item">
						<span class="iconfont">&#xe629;</span>
						<p>重置密码</p>
					</div>
					<div class="item">
						<span class="iconfont">&#xe642;</span>
						<p>重新启动</p>
					</div>
					<div class="item">
						<span class="iconfont">&#xe62c;</span>
						<p>系统更新</p>
					</div>
					<div class="item">
						<span class="iconfont">&#xe698;</span>
						<p>恢复出厂设置</p>
					</div>
					<div class="item outLogin">
						<span class="iconfont">&#xe610;</span>
						<p>退出登录</p>
					</div>
				</div>
			</section>
			<!-- 支持游戏 -->
			<section class="s-game backIn">
				<div class="nav return-set common">
					<i></i>
					<span>返回</span>
				</div>
				<div class="head">
					<div class="igame choice">
						<span class="iconfont">&#xe6a5;</span>
						<p>所有游戏</p>
					</div>
					<div class="igame">
						<span class="iconfont">&#xe679;</span>
						<p>PS4</p>
					</div>
					<div class="igame">
						<span class="iconfont">&#xe64b;</span>
						<p>Switch</p>
					</div>
					<div class="igame">
						<span class="iconfont">&#xe8e1;</span>
						<p>Xbox</p>
					</div>
				</div>
				<div class="games allgame"></div>
				<div class="games ps4"></div>
				<div class="games switch"></div>
				<div class="games xbox"></div>
			</section>
			<!-- wifi设置 -->
			<section class="wifi backIn">
				<div class="head">
					<span class="return-set"><i></i>返回</span>
					<img src="<%=resource%>/img/share.png" >
				</div>
				<div class="set">
					<div class="item name">
						<span>WIFI名称</span>
						<input type="text" name="name" />
					</div>
					<div class="item password">
						<span>WIFI密码</span>
						<input type="text" name="password" />
					</div>
					<div class="tip"></div>
					<a class="subimt">保存生效</a>
					<p>温情提示:修改WIFI配置时WIFI将重启，若WIFI断线，请手动连接</p>
				</div>
			</section>
			<!-- 恢复出厂设置 -->
			<section class="recovery backIn">
				<div class="nav return-set common">
					<i></i>
					<span>返回</span>
				</div>
				<div class="head"></div>
				<div class="usual tips">
					<img src="<%=resource%>/img/no.png" >
					<h6>恢复出厂设置将清除所有设置数据</h6>
					<a>恢复出厂设置</a>
				</div>
			</section>
			<!-- 重新启动 -->
			<section class="restart backIn">
				<div class="nav return-set common">
					<i></i>
					<span>返回</span>
				</div>
				<div class="head"></div>
				<div class="usual tips">
					<img src="<%=resource%>/img/no.png" >
					<h6>加速硬件系统将立即重启</h6>
					<a>立即重启</a>
				</div>
			</section>
			<!-- 系统更新 -->
			<section class="update backIn">
				<div class="nav return-set common">
					<i></i>
					<span>返回</span>
				</div>
				<div class="head"></div>
				<div class="usual tips">
					<img src="<%=resource%>/img/no.png" >
					<div class="contain up">
						<p>当前版本：<span class="oldVersion"></span></p>
						<p>最新版本：<span class="newVersion"></span></p>
					</div>
					<a class="isUpdate">立即更新</a>
					<a class="noUpdate">暂无更新</a>
				</div>
				<!-- 更新弹框 -->
				<div class="updata-box">
					<p></p>
					<a class="cancel">取消</a>
					<a class="makeSure">确认更新</a>
				</div>
			</section>
			<!-- 加速盒信息 -->
			<section class="information backIn">
				<div class="nav return-set common">
					<i></i>
					<span>返回</span>
				</div>
				<div class="head"></div>
				<div class="usual tips">
					<img src="<%=resource%>/img/no.png" >
					<div class="contain">
						<p>设备名称：<span>Liuxing-Box</span></p>
						<p>设备型号：<span>model x</span></p>
						<p>系统版本：<span>0.0.0</span></p>
						<br />
						<p>MAC：<span>00:00:00:00:00:00</span></p>
						<p>IP地址：<span>0.0.0.0</span></p>
						<p>运行时间：<span>0天0小时0分钟0秒</span></p>
					</div>
				</div>
			</section>
			<!-- 重置密码 -->
			<section class="reset backIn">
				<div class="head">
					<span class="return-set"><i></i>返回</span>
					<img src="<%=resource%>/img/reset.png" >
				</div>
				<div class="set">
					<div class="item name">
						<span>请输入旧密码</span>
						<input type="password" value="" />
					</div>
					<div class="item password">
						<span>请输入新密码</span>
						<input type="password" value="" />
					</div>
					<div class="item sure">
						<span>请确认新密码</span>
						<input type="password" value="" />
					</div>
					<a class="submit">保存生效</a>
					<div class="tip"></div>
				</div>
			</section>
			<!-- 遮盖层 -->
			<div class="cover">
				<span>
					<i></i>
					<i></i>
					<i></i>
					<i></i>
				</span>
			</div>
			<!-- 加载等待 -->
			<div class="onloading">
				<div class="box">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="<%=resource%>/js/jquery.min.js"></script>
		<script type="text/javascript" src="<%=resource%>/js/proxy.js"></script>
		<script type="text/javascript" src="<%=resource%>/js/common.js"></script>
	</body>
</html>
