<!DOCTYPE html>
<html>
    <%-
        local fs = require "nixio.fs"
        local io = require "io"
        require "luci.sys"

        function arptable(callback)
            local arp = (not callback) and {} or nil
            local e, r, v
            if fs.access("/proc/net/arp") then
                for e in io.lines("/proc/net/arp") do
                    local r = { }, v
                    for v in e:gmatch("%S+") do
                        r[#r+1] = v
                    end

                    if r[1] ~= "IP" then
                        local x = {
                            ["IP address"] = r[1],
                            ["HW type"]    = r[2],
                            ["Flags"]      = r[3],
                            ["HW address"] = r[4],
                            ["Mask"]       = r[5],
                            ["Device"]     = r[6]
                        }

                        if callback then
                            callback(x)
                        else
                            arp = arp or { }
                            arp[#arp+1] = x
                        end
                    end
                end
            end
            return arp
        end
    -%>
	<head>
		<meta charset="utf-8">
		<title><%:Router%></title>
	</head>
	<body>
        <h1>测试</h1>
		<div class="main">
            <table>
				<tr>
					<th><%_<abbr title="Internet Protocol Version 4">IPv4</abbr>-Address%></th>
					<th><%_<abbr title="Media Access Control">MAC</abbr>-Address%></th>
					<th><%:Interface%></th>
				</tr>

				<% arptable(function(e) %>
				<tr>
					<td><%=e["IP address"]%></td>
					<td><%=e["HW address"]%></td>
					<td><%=e["Device"]%></td>
				</tr>
                <% end) %>
			</table>

<!--            <table>-->
<!--				<tr>-->
<!--					<th><%:Network%></th>-->
<!--					<th><%:Target%></th>-->
<!--					<th><%_<abbr title="Internet Protocol Version 4">IPv4</abbr>-Gateway%></th>-->
<!--					<th><%:Metric%></th>-->
<!--				</tr>-->
<!--				<% luci.sys.net.routes(function(rt) %>-->
<!--				<tr>-->
<!--					<td><%=luci.tools.webadmin.iface_get_network(rt.device) or rt.device%></td>-->
<!--					<td><%=rt.dest:string()%></td>-->
<!--					<td><%=rt.gateway:string()%></td>-->
<!--					<td><%=rt.metric%></td>-->
<!--				</tr>-->
<!--				<% end) %>-->
<!--			</table>-->
		</div>
	</body>
</html>

