<%+header%>
<%
	if luci.http.formvalue("status") == "1" then
		local rv = {
					uptime     = luci.sys.uptime(),
					localtime  = os.date(),
					loadavg    = { luci.sys.loadavg() },
				}
		luci.http.prepare_content("application/json")
		luci.http.write_json(rv)

		return
    end
	local system, model = luci.sys.sysinfo()
%>



<script type="text/javascript">
	XHR.poll(5, '<%=REQUEST_URI%>', { status: 1 },
	function(x, info) {
		var e;

		if (e = document.getElementById('localtime'))
			e.innerHTML = info.localtime;

		if (e = document.getElementById('uptime'))
			e.innerHTML = String.format('%t', info.uptime);

	});
</script>

<h2><a id="content" name="content"><%:盒子信息%></a></h2>

<fieldset class="cbi-section">
	<legend><%:System%></legend>

	<table width="100%" cellspacing="10">
		<tr><td width="33%"><%:主机名称%></td><td><%=luci.sys.hostname() or "?"%></td></tr>
		<tr><td width="33%"><%:型号%></td><td><%=pcdata(model or "?")%></td></tr>
		<tr><td width="33%"><%:内核版本：%></td><td><%=luci.sys.exec("uname -r")%></td></tr>
		<tr><td width="33%"><%:系统时间：%></td><td id="localtime">-</td></tr>
		<tr><td width="33%"><%:运行时长：%></td><td id="uptime">-</td></tr>
		<tr><td width="33%"><%:IP地址：%></td><td id="ipaddr">-</td></tr>
		<tr><td width="33%"><%:Mac地址：%></td><td id="macaddr">-</td></tr>
	</table>
</fieldset>
