<!DOCTYPE html>
<html>
    <%-
        require "luci.dispatcher"
        local ssid = luci.sys.exec("uci get wireless.@wifi-iface[-1].ssid")
    -%>
	<head>
		<meta charset="utf-8">
		<title>WIFI设置</title>
		<link rel="stylesheet" type="text/css" href="<%=resource%>/common.css"/>
		<link rel="stylesheet" type="text/css" href="<%=resource%>/set.css"/>

	</head>
	<body>
		<div class="main">
			<div class="wifi">
				<div class="head">
					<span>WIFI设置</span>
					<span><i class="iconfont">&#xe604;</i>返回</span>
				</div>
				<div class="set">
					<div class="item name">
						<span>WIFI名称</span>
						<input type="text" name="name" value="<%=ssid%>"/>
					</div>
					<div class="item password">
						<span>WIFI密码</span>
						<input type="password" name="password" />
					</div>
					<a class="subimt">保存生效</a>
					<p>温情提示:修改WIFI配置时WIFI将重启，若WIFI断线，请手动连接</p>
				</div>
			</div>
		</div>
        <script type="text/javascript" src="<%=resource%>/xhr.js"></script>
		<script type="text/javascript" src="<%=resource%>/jquery.min.js"></script>
		<script type="text/javascript" src="<%=resource%>/set.js"></script>
		<script type="text/javascript" src="<%=resource%>/common.js"></script>
	</body>
</html>
